.sign-in-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lmj-main-sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30em;
  margin-top: 12em;
  margin-bottom: 5em;
  border: 1px solid #d0d1d5;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 90%;
  border-radius: 10px;
}

.lmj-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.element-marge {
  margin-top: 1em;
}

.element-size {
  width: 20em;
}

@media screen and (max-width: 415px) {
  .lmj-main-sign-in {
    margin-top: 15em;
    margin-bottom: 5em;
    border: 1px solid #d0d1d5;
    background-color: white;

    width: 100%;
    border-radius: 0;
  }
}
