.position-button-drop-account {
  display: flex;
}

.position-button-drop-account button {
  width: 100% !important;
}
.position-button-drop {
  width: 100%;
}
.select-choise-drop-account {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.style-size-drop {
  color: red;
  text-align: center;
  padding: 10px;
}
