.picturs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 50%;
}

.styl {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.modal-componant {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  animation: modal-show 0.5s 1 forwards;
  z-index: 10000;
}

.last-content {
  position: relative;
  width: 733px;
  height: 780px;
  padding: 24px;
  background-color: white;
}
.last-content-comment-update {
  position: relative;
  width: 733px;
  height: 780px;
  padding: 24px;
}

.modal-componant:target {
  display: flex;
}

.hide {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 60px;
  height: 60px;
  padding: 0;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  font-size: 48px;
  text-align: center;
  color: black;
  text-decoration: none;
}
.hide-comment-update {
  position: absolute;
  top: 224px;
  right: 12px;
  width: 60px;
  height: 60px;
  padding: 0;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  font-size: 25px;
  text-align: center;
  color: black;
  text-decoration: none;
}
@media screen and (max-width: 660px) {
  .hide-comment-update {
    top: 237px;
  }
}
@media screen and (max-width: 540px) {
  .last-content {
    height: 650px;
  }
  .last-content-comment-update {
    height: 650px;
  }
  .hide-comment-update {
    top: 183px;
  }
}

@media screen and (max-width: 375px) {
  .last-content {
    height: 672px;
  }
  .last-content-comment-update {
    height: 672px;
  }
  .hide-comment-update {
    top: 203px;
  }
}

@media screen and (max-width: 320px) {
  .last-content {
    height: 600px;
  }
  .last-content-comment-update {
    height: 600px;
  }
  .hide-comment-update {
    top: 169px;
  }
}

@media screen and (max-width: 209px) {
  .hide-comment-update {
    top: 161px;
  }
}
