.flex-direction {
  width: 100%;
  margin-top: 13em;
}
.color_red_username {
  color: red;
  font-size: 16px;
}
.color-green_username {
  color: green;
  font-size: 16px;
}
.error-position {
  display: flex;
  flex-direction: column;
}
.size {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.size-profil {
  border: #d0d1d5 1px solid;
  box-shadow: 0 0 5px rgb(0 0 0 / 30%);
  margin-bottom: 2em;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 30px;
}
.usernam-page-profil {
  word-break: break-all;
}
.flex-msg {
  width: 100%;
}

.bor-username {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  font-size: 2em;
  margin-top: 1em;
}

.flex-elt-profil {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  margin-bottom: 1em;
  justify-content: space-evenly;
  width: 90%;
  border-bottom: #d0d1d5 1px solid;
}
.flex-picturs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 50%;
}
.identity-user {
  width: 50%;
}

.size-picturs {
  width: 30%;
  // height: 16em;
  border: gray 1px solid;
  border-bottom: none;
  border-radius: 50%;
  cursor: pointer;
}

.size-police {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
.size-police-photo {
  font-size: 1.5em;
}
.avatar-select {
  width: 35%;
  height: 2em;
  border-top: none;
  border-bottom: gray 1px solid;
  border-right: gray 1px solid;
  border-left: gray 1px solid;
  border-radius: 0em 0em 0.6em 0.6em;
  background-color: rgb(204, 203, 203);
}
.email {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  margin-bottom: 1em;
  justify-content: space-evenly;
  align-items: center;
}
.description-position {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.textarea-description-position {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.description-view {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avtar-user-mail {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border-bottom: #d0d1d5 1px solid;
}
.margin-bio {
  margin-bottom: 1em;
  word-break: break-all;
}

.flex-bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: gray 1px solid;
  border-radius: 0.5em;
  width: 100%;
}

.textarea {
  width: 80%;
  height: 5em;
  border-style: none;
  border-radius: 1em 1em 0 0;
}
.textarea:focus {
  outline: none !important;
  //border: 1px solid gray;
}
.button {
  width: 100%;
  height: 2em;
  border-top: gray 1px solid;
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-radius: 0em 0em 0.6em 0.6em;
  background-color: rgb(204, 203, 203);
}

.size-elt {
  width: 90%;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  animation: modal-show 0.5s 1 forwards;
  z-index: 10000;
}

.modal-content {
  position: relative;
  width: 680px;
  height: 480px;
  padding: 24px;
  background-color: white;
}

.modal:target {
  display: flex;
}

.modal-show {
  width: 35%;
  height: 2em;
  border-top: none;
  border-bottom: gray 1px solid;
  border-right: gray 1px solid;
  border-left: gray 1px solid;
  border-radius: 0em 0em 0.6em 0.6em;
  background-color: rgb(204, 203, 203);
}

.modal-hide {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 60px;
  height: 60px;
  padding: 0;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  font-size: 48px;
  text-align: center;
  color: black;
  text-decoration: none;
}

.flex-drop-update {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.update-password {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.drop-account {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .size-profil {
    width: 100%;

    border-radius: 0;
  }
  .flex-drop-update {
    flex-direction: column;

    align-items: center;
    width: 100%;
  }
  .update-password {
    width: 100%;
  }
  .drop-account {
    width: 100%;
  }
}
