body {
  margin: 0;
}

.lmj-banner {
  position: fixed;
  width: 100%;
  top: 0;
  background-image: url(../../assets/test.jpg);
  color: black;
  text-align: right;
  padding: 32px;
  border-bottom: solid 3px black;

  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  z-index: 500;
}

.lmj-title {
  padding-left: 32px;
}

.lmj-logo {
  position: absolute;
  left: 0%;
  top: -110%;
  height: 20em;
  width: 20em;
  cursor: pointer;
}
.lmj-logo-2 {
  position: absolute;
  left: 0%;
  top: -110%;
  height: 20em;
  width: 20em;
}
.image-rognage {
  position: relative;
  width: 300px;
  height: 100px;
  overflow: hidden;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.button_position {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1040px) {
  .lmj-banner {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }
  .lmj-logo {
    display: none;
  }
  .lmj-logo-2 {
    display: none;
  }
  .lmj-icon {
    position: absolute;
    left: 0px;
    height: 6em;
    width: 6em;
    cursor: pointer;
  }
  .lmj-icon-2 {
    position: absolute;
    left: 0px;
    height: 6em;
    width: 6em;
  }
  .image-rognage {
    width: 91px;
  }
}
@media screen and (min-width: 1040px) {
  .lmj-icon {
    display: none;
  }
  .lmj-icon-2 {
    display: none;
  }
}

@media screen and (max-width: 745px) {
  .lmj-banner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 3.8em);
    align-items: center;
    margin-top: 0;
  }

  .image-rognage {
    grid-column: 1;
    grid-row: 1;
    width: 59px;
    height: 59px;
    justify-self: center;
  }

  .lmj-icon {
    grid-column: 1;
    grid-row: 1;
    height: 4em;
    width: 4em;
    justify-self: center;
  }
  .lmj-icon-2 {
    grid-column: 1;
    grid-row: 1;
    height: 4em;
    width: 4em;
    justify-self: center;
  }

  .search-bar-header {
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
  }

  .button_position {
    grid-column: 1;
    grid-row: 2;
  }
}
