.size-update-password {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1em;
}

.color-red {
  color: red;
}
.color-green {
  color: green;
}

.old-password-position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
