.style {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  color: #4a4747;
  font-family: roboto;
  line-height: 23px;
  margin-bottom: 0px;
  padding: 0px 15px 0px;
  height: 95%;
  overflow-y: scroll;
  text-align: justify;
}
.test {
  display: flex;
  flex-wrap: wrap;
}
.new {
  width: 100px;
  height: 20px;
  margin-top: 10px;
}

.style_avatar {
  height: 100%;
}

.radius-avatar {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  margin: 5px;
}
.avatar_card {
  height: auto;
  width: 23%;
  margin: 5px;
}

@media screen and (min-width: 1700px) {
  body {
    font-size: 1em;
  }
  .co-logo {
    width: 75%;
    height: 75%;
  }
}

@media screen and (max-width: 577px) {
  .avatar_card {
    width: 22%;
  }
}
@media screen and (max-width: 410px) {
  .avatar_card {
    width: 28%;
  }
}
@media screen and (max-width: 377px) {
  .avatar_card {
    width: 25%;
  }
}
