.flex-direction-2 {
  width: 100%;
  margin-top: 13em;
}
.size-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-name-pictur {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  // width: 100%;
  border-bottom: #d0d1d5 1px solid;
  width: 90%;
}
.size-profil-2 {
  border: #d0d1d5 1px solid;
  box-shadow: 0 0 5px rgb(0 0 0 / 30%);
  margin-bottom: 2em;
  margin-top: 2em;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 30px;
}
.admin-control {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.admin-control-session {
  width: 50%;
}

.admin-control-drop {
  width: 50%;
}

.flex-msg-2 {
  width: 100%;
}

.bor-username-2 {
  width: 80%;
  display: flex;
  justify-content: center;
  font-size: 2em;
  margin-top: 1em;
}
.email-breack {
  word-break: break-all;
}

.flex-elt-profil-2 {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  margin-bottom: 1em;
  justify-content: space-evenly;
  width: 90%;
  border-bottom: #d0d1d5 1px solid;
}
.flex-picturs-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 30%;
}
.size-elt-2 {
  width: 70%;
}

.size-picturs-2 {
  width: 60%;
  height: auto;
  border: gray 1px solid;
  box-shadow: 0 0 5px rgb(0 0 0 / 30%);
  border-radius: 50%;
}

.size-police-2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  word-break: break-all;
}
.size-police-photo-2 {
  font-size: 1.5em;
}

.email-2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.margin-bio-2 {
  margin-bottom: 1em;
}
@media screen and (max-width: 800px) {
  .size-profil-2 {
    width: 95%;
  }
  .size-picturs-2 {
    width: 100%;
  }
  .size-elt-2 {
    width: 100%;
  }
}
@media screen and (max-width: 414px) {
  .size-profil-2 {
    width: 100%;
    border-radius: 0;
  }
}
@media screen and (max-width: 545px) {
  .admin-control {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .admin-control-session {
    width: 100%;
  }

  .admin-control-drop {
    width: 100%;
  }
}
