.search_flex {
  display: flex;
  flex-direction: column;
}

.search {
  padding: 2rem 1rem;
}

.search_results {
  display: flex;
  position: fixed;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 60%;
  justify-content: center;
  align-items: center;
  border: black 1px solid;

  background-color: white;

  z-index: 10000;
}

.search_result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px black solid;
  width: 95%;
  height: 90%;
  overflow-y: scroll;
}

.search_close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: -27px;
  right: -23px;
  width: 26px;
  height: 25px;
  padding: 0;
  -webkit-appearance: none;
  background-color: transparent;
  border: solid 1px rgb(34, 28, 28);
  border-radius: 50%;
  font-size: 27px;
  text-align: center;
  color: #a09a9a;
  text-decoration: none;
}
.search_avatar {
  border: black 1px solid;
  width: 6em;
  height: 6em;
  border-radius: 50%;
}

.search_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  margin: 1px;
  width: 33%;
  height: 27%;
}

.search_charactere {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
