.search_flex {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.search {
  display: flex;
  align-items: center;
  padding: 2rem 1rem;
  height: 15px;
}
.search-icon {
  height: 41px;
  padding-left: 11px;
  background-color: #f1f3f5;
  text-align: center;
  font-size: 34px;
  border-radius: 9999px 0px 0px 9999px;
  color: rgb(136, 133, 133);
  border-top: 1px solid rgb(136, 133, 133);
  border-bottom: 1px solid rgb(136, 133, 133);
  border-left: 1px solid rgb(136, 133, 133);
}
.search-icon-after {
  border-top: 1px solid rgb(136, 133, 133);
  border-bottom: 1px solid rgb(136, 133, 133);
  border-left: 1px solid rgb(136, 133, 133);
  border-right: none;
  height: 41px;
  padding-left: 11px;
  background-color: #f1f3f5;
  text-align: center;
  font-size: 34px;
  border-radius: 9999px 0px 0px 9999px;
  color: rgb(136, 133, 133);
}
.search-input {
  border-top: 1px solid rgb(136, 133, 133);
  border-bottom: 1px solid rgb(136, 133, 133);
  border-right: 1px solid rgb(136, 133, 133);
  border-left: none;

  background-color: #f1f3f5;

  border-radius: 0px 9999px 9999px 0px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 41px;
  outline: none;
}
.search-input::placeholder {
  color: #c5c7c9;
}
.search-input:focus {
  border-top: 1px solid rgb(136, 133, 133);
  border-bottom: 1px solid rgb(136, 133, 133);
  border-right: 1px solid rgb(136, 133, 133);
  border-left: none;
}

.search_results {
  display: flex;
  position: fixed;
  top: 24%;
  left: 10%;
  width: 80%;
  height: 60%;
  justify-content: center;
  align-items: center;
  border: 0.063em solid #deebff;
  border-radius: 1.25em;
  box-shadow: 0 0 1em #0000002e;
  background-color: #f2f2f2;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 10000;
}

.search_result {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  background-color: #f2f2f2;
  width: 100%;
  height: 90%;
  padding: 0px 8px 0px 8px;
  overflow-y: scroll;
  border-radius: 1.25em;
}

.search_close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: -27px;
  right: -23px;
  width: 26px;
  height: 25px;
  padding: 0;
  -webkit-appearance: none;
  background-color: transparent;
  border: solid 1px rgb(34, 28, 28);
  border-radius: 50%;
  font-size: 14px;
  text-align: center;
  color: #080808;
  text-decoration: none;
}
.search_avatar_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: auto;
  margin: 5px;
}
.search_avatar {
  border: black 1px solid;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.search_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 2px;
  width: 30%;
  height: auto;
  border: 0.063em solid #deebff;
  border-radius: 1.25em;
  box-shadow: 0 0 1em #0000002e;
  background-color: white;
  transition-duration: 0.1s;
  cursor: pointer;
  margin-left: 31px;
  margin-right: 10px;
  margin-top: 26px;
  border: black solid 1px;
}

.search_card:hover {
  transform: scale(1.02);
}

.search_charactere {
  display: flex;
  align-items: center;
  flex-direction: column;
  word-break: break-all;
  justify-content: center;
  text-align: start;
}
@media screen and (max-width: 1593px) {
  .search_card {
    width: 46%;
  }
}

@media screen and (max-width: 1520px) {
  .search_card {
    width: 46%;
  }
}
@media screen and (max-width: 1337px) {
  .search_card {
    width: 45%;
  }
}
@media screen and (max-width: 1229px) {
  .search_results {
    left: 0;
    width: 100%;
    border-radius: 0em;
  }
  .search_close {
    right: 1px;
  }
}
@media screen and (max-width: 1229px) {
  .search_card {
    width: 45%;
  }
}
@media screen and (max-width: 867px) {
  .search_card {
    width: 44%;
  }
}
@media screen and (max-width: 795px) {
  .search_card {
    width: 100%;
  }
  .search_avatar_flex {
    width: 15%;
  }
}

@media screen and (max-width: 600px) {
  .search_avatar_flex {
    width: 20%;
  }
}
@media screen and (max-width: 325px) {
  .search_avatar_flex {
    width: 30%;
  }
}
